# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/

.env
.idea/
# Virtual env


# Jupyter
.ipynb_checkpoints/

# Static generated images
static/*.png
static/*.jpg

# Models / Weights (NO subir a git)
models/
loras/
training/
*.safetensors
*.ckpt
*.bin

# OS
.DS_Store
Thumbs.db
